---
layout: mainpage
---
<style>
.img-flat-bottom {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
</style>

          <div class="jumbotron">
            <h1>Chemistry Demonstrations</h1>
            <p>A database of chemistry experiments that everyone can edit. If you know any chemistry demonstration not listed here you can add it.</p>
          </div>
          <div class="row" style="margin-bottom: 20px; padding-right: 30px;">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                All Categories <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/">All Categories</a></li>
                <li class="divider"></li>
            {% for c in site.pages %}
            {% if c.type == "category" %}

              {% assign any_experiment_in_category = 0 %}

              {% for e in site.pages %}
                {% if e.type == "experiment" %}
                  {% if e.category == c.id %}
                    {% assign any_experiment_in_category = 1 %}
                  {% endif %}
                {% endif %}
              {% endfor %}

              {% if any_experiment_in_category == 1 %}
                <li><a href="categories/{{ c.id }}.html">{{ c.category_name | capitalize }}</a></li>
              {% endif %}

            {% endif %}
            {% endfor %}
              </ul>
            </div>
          </div>

{% for e in site.pages %}
{% if e.type == "experiment" %}          
            <div class="col-4 col-sm-4 col-lg-3">
              <div class="panel panel-default">
                <a href="experiments/{{ e.id }}.html"><img src="experiments/thumbnails/{{ e.id }}.jpg" alt="Experiment thumbnail" style="width: 100%; height: auto;" class="img-rounded img-flat-bottom"></a>
                <div class="panel-heading" style="background-color: white; height: 80px;">
                  <h3 class="panel-title"><a href="experiments/{{ e.id }}.html">{{ e.experiment_name }}</a></h3>
                </div>
              </div>
            </div><!--/span-->
{% endif %}
{% endfor %}

