{% assign rphrase_text = "" %}
{% if rphrase_code == "R1" %}{% assign rphrase_text = "Explosive when dry" %}{% endif %}
{% if rphrase_code == "R2" %}{% assign rphrase_text = "Risk of explosion by shock, friction, fire or other sources of ignition" %}{% endif %}
{% if rphrase_code == "R3" %}{% assign rphrase_text = "Extreme risk of explosion by shock, friction, fire or other sources of ignition" %}{% endif %}
{% if rphrase_code == "R4" %}{% assign rphrase_text = "Forms very sensitive explosive metallic compounds" %}{% endif %}
{% if rphrase_code == "R5" %}{% assign rphrase_text = "Heating may cause an explosion" %}{% endif %}
{% if rphrase_code == "R6" %}{% assign rphrase_text = "Explosive with or without contact with air" %}{% endif %}
{% if rphrase_code == "R7" %}{% assign rphrase_text = "May cause fire" %}{% endif %}
{% if rphrase_code == "R8" %}{% assign rphrase_text = "Contact with combustible material may cause fire" %}{% endif %}
{% if rphrase_code == "R9" %}{% assign rphrase_text = "Explosive when mixed with combustible material" %}{% endif %}
{% if rphrase_code == "R10" %}{% assign rphrase_text = "Flammable" %}{% endif %}
{% if rphrase_code == "R11" %}{% assign rphrase_text = "Highly flammable" %}{% endif %}
{% if rphrase_code == "R12" %}{% assign rphrase_text = "Extremely flammable" %}{% endif %}
{% if rphrase_code == "R14" %}{% assign rphrase_text = "Reacts violently with water" %}{% endif %}
{% if rphrase_code == "R15" %}{% assign rphrase_text = "Contact with water liberates extremely flammable gases" %}{% endif %}
{% if rphrase_code == "R16" %}{% assign rphrase_text = "Explosive when mixed with oxidising substances" %}{% endif %}
{% if rphrase_code == "R17" %}{% assign rphrase_text = "Spontaneously flammable in air" %}{% endif %}
{% if rphrase_code == "R18" %}{% assign rphrase_text = "In use, may form flammable/explosive vapour-air mixture" %}{% endif %}
{% if rphrase_code == "R19" %}{% assign rphrase_text = "May form explosive peroxides" %}{% endif %}
{% if rphrase_code == "R20" %}{% assign rphrase_text = "Harmful by inhalation" %}{% endif %}
{% if rphrase_code == "R21" %}{% assign rphrase_text = "Harmful in contact with skin" %}{% endif %}
{% if rphrase_code == "R22" %}{% assign rphrase_text = "Harmful if swallowed" %}{% endif %}
{% if rphrase_code == "R23" %}{% assign rphrase_text = "Toxic by inhalation" %}{% endif %}
{% if rphrase_code == "R24" %}{% assign rphrase_text = "Toxic in contact with skin" %}{% endif %}
{% if rphrase_code == "R25" %}{% assign rphrase_text = "Toxic if swallowed" %}{% endif %}
{% if rphrase_code == "R26" %}{% assign rphrase_text = "Very toxic by inhalation" %}{% endif %}
{% if rphrase_code == "R27" %}{% assign rphrase_text = "Very toxic in contact with skin" %}{% endif %}
{% if rphrase_code == "R28" %}{% assign rphrase_text = "Very toxic if swallowed" %}{% endif %}
{% if rphrase_code == "R29" %}{% assign rphrase_text = "Contact with water liberates toxic gas." %}{% endif %}
{% if rphrase_code == "R30" %}{% assign rphrase_text = "Can become highly flammable in use" %}{% endif %}
{% if rphrase_code == "R31" %}{% assign rphrase_text = "Contact with acids liberates toxic gas" %}{% endif %}
{% if rphrase_code == "R32" %}{% assign rphrase_text = "Contact with acids liberates very toxic gas" %}{% endif %}
{% if rphrase_code == "R33" %}{% assign rphrase_text = "Danger of cumulative effects" %}{% endif %}
{% if rphrase_code == "R34" %}{% assign rphrase_text = "Causes burns" %}{% endif %}
{% if rphrase_code == "R35" %}{% assign rphrase_text = "Causes severe burns" %}{% endif %}
{% if rphrase_code == "R36" %}{% assign rphrase_text = "Irritating to eyes" %}{% endif %}
{% if rphrase_code == "R37" %}{% assign rphrase_text = "Irritating to respiratory system" %}{% endif %}
{% if rphrase_code == "R38" %}{% assign rphrase_text = "Irritating to skin" %}{% endif %}
{% if rphrase_code == "R39" %}{% assign rphrase_text = "Danger of very serious irreversible effects" %}{% endif %}
{% if rphrase_code == "R40" %}{% assign rphrase_text = "Limited evidence of a carcinogenic effect" %}{% endif %}
{% if rphrase_code == "R41" %}{% assign rphrase_text = "Risk of serious damage to eyes" %}{% endif %}
{% if rphrase_code == "R42" %}{% assign rphrase_text = "May cause sensitisation by inhalation" %}{% endif %}
{% if rphrase_code == "R43" %}{% assign rphrase_text = "May cause sensitisation by skin contact" %}{% endif %}
{% if rphrase_code == "R44" %}{% assign rphrase_text = "Risk of explosion if heated under confinement" %}{% endif %}
{% if rphrase_code == "R45" %}{% assign rphrase_text = "May cause cancer" %}{% endif %}
{% if rphrase_code == "R46" %}{% assign rphrase_text = "May cause inheritable genetic damage" %}{% endif %}
{% if rphrase_code == "R48" %}{% assign rphrase_text = "Danger of serious damage to health by prolonged exposure" %}{% endif %}
{% if rphrase_code == "R49" %}{% assign rphrase_text = "May cause cancer by inhalation" %}{% endif %}
{% if rphrase_code == "R50" %}{% assign rphrase_text = "Very toxic to aquatic organisms" %}{% endif %}
{% if rphrase_code == "R51" %}{% assign rphrase_text = "Toxic to aquatic organisms" %}{% endif %}
{% if rphrase_code == "R52" %}{% assign rphrase_text = "Harmful to aquatic organisms" %}{% endif %}
{% if rphrase_code == "R53" %}{% assign rphrase_text = "May cause long-term adverse effects in the aquatic environment" %}{% endif %}
{% if rphrase_code == "R54" %}{% assign rphrase_text = "Toxic to flora" %}{% endif %}
{% if rphrase_code == "R55" %}{% assign rphrase_text = "Toxic to fauna" %}{% endif %}
{% if rphrase_code == "R56" %}{% assign rphrase_text = "Toxic to soil organisms" %}{% endif %}
{% if rphrase_code == "R57" %}{% assign rphrase_text = "Toxic to bees" %}{% endif %}
{% if rphrase_code == "R58" %}{% assign rphrase_text = "May cause long-term adverse effects in the environment" %}{% endif %}
{% if rphrase_code == "R59" %}{% assign rphrase_text = "Dangerous for the ozone layer" %}{% endif %}
{% if rphrase_code == "R60" %}{% assign rphrase_text = "May impair fertility" %}{% endif %}
{% if rphrase_code == "R61" %}{% assign rphrase_text = "May cause harm to the unborn child" %}{% endif %}
{% if rphrase_code == "R62" %}{% assign rphrase_text = "Possible risk of impaired fertility" %}{% endif %}
{% if rphrase_code == "R63" %}{% assign rphrase_text = "Possible risk of harm to the unborn child" %}{% endif %}
{% if rphrase_code == "R64" %}{% assign rphrase_text = "May cause harm to breast-fed babies" %}{% endif %}
{% if rphrase_code == "R65" %}{% assign rphrase_text = "Harmful: may cause lung damage if swallowed" %}{% endif %}
{% if rphrase_code == "R66" %}{% assign rphrase_text = "Repeated exposure may cause skin dryness or cracking" %}{% endif %}
{% if rphrase_code == "R67" %}{% assign rphrase_text = "Vapours may cause drowsiness and dizziness" %}{% endif %}
{% if rphrase_code == "R68" %}{% assign rphrase_text = "Possible risk of irreversible effects" %}{% endif %}
{% if rphrase_code == "R14/15" %}{% assign rphrase_text = "Reacts violently with water, liberating extremely flammable gases" %}{% endif %}
{% if rphrase_code == "R15/29" %}{% assign rphrase_text = "Contact with water liberates toxic, extremely flammable gases" %}{% endif %}
{% if rphrase_code == "R14/15/29" %}{% assign rphrase_text = "Reacts violently with water, liberating toxic, extremely flammable gases" %}{% endif %}
{% if rphrase_code == "R20/21" %}{% assign rphrase_text = "Harmful by inhalation and in contact with skin" %}{% endif %}
{% if rphrase_code == "R20/22" %}{% assign rphrase_text = "Harmful by inhalation and if swallowed" %}{% endif %}
{% if rphrase_code == "R20/21/22" %}{% assign rphrase_text = "Harmful by inhalation, in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R21/22" %}{% assign rphrase_text = "Harmful in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R23/24" %}{% assign rphrase_text = "Toxic by inhalation and in contact with skin" %}{% endif %}
{% if rphrase_code == "R23/25" %}{% assign rphrase_text = "Toxic by inhalation and if swallowed" %}{% endif %}
{% if rphrase_code == "R23/24/25" %}{% assign rphrase_text = "Toxic by inhalation, in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R24/25" %}{% assign rphrase_text = "Toxic in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R26/27" %}{% assign rphrase_text = "Very toxic by inhalation and in contact with skin" %}{% endif %}
{% if rphrase_code == "R26/28" %}{% assign rphrase_text = "Very toxic by inhalation and if swallowed" %}{% endif %}
{% if rphrase_code == "R26/27/28" %}{% assign rphrase_text = "Very toxic by inhalation, in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R27/28" %}{% assign rphrase_text = "Very toxic in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R36/37" %}{% assign rphrase_text = "Irritating to eyes and respiratory system" %}{% endif %}
{% if rphrase_code == "R36/38" %}{% assign rphrase_text = "Irritating to eyes and skin" %}{% endif %}
{% if rphrase_code == "R36/37/38" %}{% assign rphrase_text = "Irritating to eyes, respiratory system and skin" %}{% endif %}
{% if rphrase_code == "R37/38" %}{% assign rphrase_text = "Irritating to respiratory system and skin" %}{% endif %}
{% if rphrase_code == "R39/23" %}{% assign rphrase_text = "Toxic: danger of very serious irreversible effects through inhalation" %}{% endif %}
{% if rphrase_code == "R39/24" %}{% assign rphrase_text = "Toxic: danger of very serious irreversible effects in contact with skin" %}{% endif %}
{% if rphrase_code == "R39/25" %}{% assign rphrase_text = "Toxic: danger of very serious irreversible effects if swallowed" %}{% endif %}
{% if rphrase_code == "R39/23/24" %}{% assign rphrase_text = "Toxic: danger of very serious irreversible effects through inhalation and in contact with skin" %}{% endif %}
{% if rphrase_code == "R39/23/25" %}{% assign rphrase_text = "Toxic: danger of very serious irreversible effects through inhalation and if swallowed" %}{% endif %}
{% if rphrase_code == "R39/24/25" %}{% assign rphrase_text = "Toxic: danger of very serious irreversible effects in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R39/23/24/25" %}{% assign rphrase_text = "Toxic: danger of very serious irreversible effects through inhalation, in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R39/26" %}{% assign rphrase_text = "Very Toxic: danger of very serious irreversible effects through inhalation" %}{% endif %}
{% if rphrase_code == "R39/27" %}{% assign rphrase_text = "Very Toxic: danger of very serious irreversible effects in contact with skin" %}{% endif %}
{% if rphrase_code == "R39/28" %}{% assign rphrase_text = "Very Toxic: danger of very serious irreversible effects if swallowed" %}{% endif %}
{% if rphrase_code == "R39/26/27" %}{% assign rphrase_text = "Very Toxic: danger of very serious irreversible effects through inhalation and in contact with skin" %}{% endif %}
{% if rphrase_code == "R39/26/28" %}{% assign rphrase_text = "Very Toxic: danger of very serious irreversible effects through inhalation and if swallowed" %}{% endif %}
{% if rphrase_code == "R39/27/28" %}{% assign rphrase_text = "Very Toxic: danger of very serious irreversible effects in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R39/26/27/28" %}{% assign rphrase_text = "Very Toxic: danger of very serious irreversible effects through inhalation, in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R42/43" %}{% assign rphrase_text = "May cause sensitization by inhalation and skin contact" %}{% endif %}
{% if rphrase_code == "R45/46" %}{% assign rphrase_text = "May cause cancer and heritable genetic damage" %}{% endif %}
{% if rphrase_code == "R48/20" %}{% assign rphrase_text = "Harmful: danger of serious damage to health by prolonged exposure through inhalation" %}{% endif %}
{% if rphrase_code == "R48/21" %}{% assign rphrase_text = "Harmful: danger of serious damage to health by prolonged exposure in contact with skin" %}{% endif %}
{% if rphrase_code == "R48/22" %}{% assign rphrase_text = "Harmful: danger of serious damage to health by prolonged exposure if swallowed" %}{% endif %}
{% if rphrase_code == "R48/20/21" %}{% assign rphrase_text = "Harmful: danger of serious damage to health by prolonged exposure through inhalation and in contact with skin" %}{% endif %}
{% if rphrase_code == "R48/20/22" %}{% assign rphrase_text = "Harmful: danger of serious damage to health by prolonged exposure through inhalation and if swallowed" %}{% endif %}
{% if rphrase_code == "R48/21/22" %}{% assign rphrase_text = "Harmful: danger of serious damage to health by prolonged exposure in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R48/20/21/22" %}{% assign rphrase_text = "Harmful: danger of serious damage to health by prolonged exposure through inhalation, in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R48/23" %}{% assign rphrase_text = "Toxic: danger of serious damage to health by prolonged exposure through inhalation" %}{% endif %}
{% if rphrase_code == "R48/24" %}{% assign rphrase_text = "Toxic: danger of serious damage to health by prolonged exposure in contact with skin" %}{% endif %}
{% if rphrase_code == "R48/25" %}{% assign rphrase_text = "Toxic: danger of serious damage to health by prolonged exposure if swallowed" %}{% endif %}
{% if rphrase_code == "R48/23/24" %}{% assign rphrase_text = "Toxic: danger of serious damage to health by prolonged exposure through inhalation and in contact with skin" %}{% endif %}
{% if rphrase_code == "R48/23/25" %}{% assign rphrase_text = "Toxic: danger of serious damage to health by prolonged exposure through inhalation and if swallowed" %}{% endif %}
{% if rphrase_code == "R48/24/25" %}{% assign rphrase_text = "Toxic: danger of serious damage to health by prolonged exposure in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R48/23/24/25" %}{% assign rphrase_text = "Toxic: danger of serious damage to health by prolonged exposure through inhalation, in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R50/53" %}{% assign rphrase_text = "Very toxic to aquatic organisms, may cause long-term adverse effects in the aquatic environment" %}{% endif %}
{% if rphrase_code == "R51/53" %}{% assign rphrase_text = "Toxic to aquatic organisms, may cause long-term adverse effects in the aquatic environment" %}{% endif %}
{% if rphrase_code == "R52/53" %}{% assign rphrase_text = "Harmful to aquatic organisms, may cause long-term adverse effects in the aquatic environment" %}{% endif %}
{% if rphrase_code == "R68/20" %}{% assign rphrase_text = "Harmful: possible risk of irreversible effects through inhalation" %}{% endif %}
{% if rphrase_code == "R68/21" %}{% assign rphrase_text = "Harmful: possible risk of irreversible effects in contact with skin" %}{% endif %}
{% if rphrase_code == "R68/22" %}{% assign rphrase_text = "Harmful: possible risk of irreversible effects if swallowed" %}{% endif %}
{% if rphrase_code == "R68/20/21" %}{% assign rphrase_text = "Harmful: possible risk of irreversible effects through inhalation and in contact with skin" %}{% endif %}
{% if rphrase_code == "R68/20/22" %}{% assign rphrase_text = "Harmful: possible risk of irreversible effects through inhalation and if swallowed" %}{% endif %}
{% if rphrase_code == "R68/21/22" %}{% assign rphrase_text = "Harmful: possible risk of irreversible effects in contact with skin and if swallowed" %}{% endif %}
{% if rphrase_code == "R68/20/21/22" %}{% assign rphrase_text = "Harmful: possible risk of irreversible effects through inhalation, in contact with skin and if swallowed" %}{% endif %}
{{ rphrase_text }}