{% assign sphrase_text = "" %}
{% if sphrase_code == "S1" %}{% assign sphrase_text = "Keep locked up" %}{% endif %}
{% if sphrase_code == "S2" %}{% assign sphrase_text = "Keep out of the reach of children" %}{% endif %}
{% if sphrase_code == "S3" %}{% assign sphrase_text = "Keep in a cool place" %}{% endif %}
{% if sphrase_code == "S4" %}{% assign sphrase_text = "Keep away from living quarters" %}{% endif %}
{% if sphrase_code == "S5" %}{% assign sphrase_text = "Keep contents under ... (appropriate liquid to be specified by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S6" %}{% assign sphrase_text = "Keep under ... (inert gas to be specified by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S7" %}{% assign sphrase_text = "Keep container tightly closed" %}{% endif %}
{% if sphrase_code == "S8" %}{% assign sphrase_text = "Keep container dry" %}{% endif %}
{% if sphrase_code == "S9" %}{% assign sphrase_text = "Keep container in a well-ventilated place" %}{% endif %}
{% if sphrase_code == "S10" %}{% assign sphrase_text = "Keep contents wet" %}{% endif %}
{% if sphrase_code == "S11" %}{% assign sphrase_text = "not specified" %}{% endif %}
{% if sphrase_code == "S12" %}{% assign sphrase_text = "Do not keep the container sealed" %}{% endif %}
{% if sphrase_code == "S13" %}{% assign sphrase_text = "Keep away from food, drink and animal foodstuffs" %}{% endif %}
{% if sphrase_code == "S14" %}{% assign sphrase_text = "Keep away from ... (incompatible materials to be indicated by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S15" %}{% assign sphrase_text = "Keep away from heat" %}{% endif %}
{% if sphrase_code == "S16" %}{% assign sphrase_text = "Keep away from sources of ignition - No smoking" %}{% endif %}
{% if sphrase_code == "S17" %}{% assign sphrase_text = "Keep away from combustible material" %}{% endif %}
{% if sphrase_code == "S18" %}{% assign sphrase_text = "Handle and open container with care" %}{% endif %}
{% if sphrase_code == "S20" %}{% assign sphrase_text = "When using do not eat or drink" %}{% endif %}
{% if sphrase_code == "S21" %}{% assign sphrase_text = "When using do not smoke" %}{% endif %}
{% if sphrase_code == "S22" %}{% assign sphrase_text = "Do not breathe dust" %}{% endif %}
{% if sphrase_code == "S23" %}{% assign sphrase_text = "Do not breathe gas/fumes/vapour/spray (appropriate wording to be specified by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S24" %}{% assign sphrase_text = "Avoid contact with skin" %}{% endif %}
{% if sphrase_code == "S25" %}{% assign sphrase_text = "Avoid contact with eyes" %}{% endif %}
{% if sphrase_code == "S26" %}{% assign sphrase_text = "In case of contact with eyes, rinse immediately with plenty of water and seek medical advice" %}{% endif %}
{% if sphrase_code == "S27" %}{% assign sphrase_text = "Take off immediately all contaminated clothing" %}{% endif %}
{% if sphrase_code == "S28" %}{% assign sphrase_text = "After contact with skin, wash immediately with plenty of ... (to be specified by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S29" %}{% assign sphrase_text = "Do not empty into drains" %}{% endif %}
{% if sphrase_code == "S30" %}{% assign sphrase_text = "Never add water to this product" %}{% endif %}
{% if sphrase_code == "S33" %}{% assign sphrase_text = "Take precautionary measures against static discharges" %}{% endif %}
{% if sphrase_code == "S35" %}{% assign sphrase_text = "This material and its container must be disposed of in a safe way" %}{% endif %}
{% if sphrase_code == "S36" %}{% assign sphrase_text = "Wear suitable protective clothing" %}{% endif %}
{% if sphrase_code == "S37" %}{% assign sphrase_text = "Wear suitable gloves" %}{% endif %}
{% if sphrase_code == "S38" %}{% assign sphrase_text = "In case of insufficient ventilation wear suitable respiratory equipment" %}{% endif %}
{% if sphrase_code == "S39" %}{% assign sphrase_text = "Wear eye/face protection" %}{% endif %}
{% if sphrase_code == "S40" %}{% assign sphrase_text = "To clean the floor and all objects contaminated by this material use ... (to be specified by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S41" %}{% assign sphrase_text = "In case of fire and/or explosion do not breathe fumes" %}{% endif %}
{% if sphrase_code == "S42" %}{% assign sphrase_text = "During fumigation/spraying wear suitable respiratory equipment (appropriate wording to be specified by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S43" %}{% assign sphrase_text = "In case of fire use ... (indicate in the space the precise type of fire-fighting equipment. If water increases the risk add - Never use water)" %}{% endif %}
{% if sphrase_code == "S45" %}{% assign sphrase_text = "In case of accident or if you feel unwell seek medical advice immediately (show the label where possible)" %}{% endif %}
{% if sphrase_code == "S46" %}{% assign sphrase_text = "If swallowed, seek medical advice immediately and show this container or label" %}{% endif %}
{% if sphrase_code == "S47" %}{% assign sphrase_text = "Keep at temperature not exceeding ... &deg;C (to be specified by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S48" %}{% assign sphrase_text = "Keep wet with ... (appropriate material to be specified by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S49" %}{% assign sphrase_text = "Keep only in the original container" %}{% endif %}
{% if sphrase_code == "S50" %}{% assign sphrase_text = "Do not mix with ... (to be specified by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S51" %}{% assign sphrase_text = "Use only in well-ventilated areas" %}{% endif %}
{% if sphrase_code == "S52" %}{% assign sphrase_text = "Not recommended for interior use on large surface areas" %}{% endif %}
{% if sphrase_code == "S53" %}{% assign sphrase_text = "Avoid exposure - obtain special instructions before use" %}{% endif %}
{% if sphrase_code == "S56" %}{% assign sphrase_text = "Dispose of this material and its container at hazardous or special waste collection point" %}{% endif %}
{% if sphrase_code == "S57" %}{% assign sphrase_text = "Use appropriate containment to avoid environmental contamination" %}{% endif %}
{% if sphrase_code == "S59" %}{% assign sphrase_text = "Refer to manufacturer/supplier for information on recovery/recycling" %}{% endif %}
{% if sphrase_code == "S60" %}{% assign sphrase_text = "This material and its container must be disposed of as hazardous waste" %}{% endif %}
{% if sphrase_code == "S61" %}{% assign sphrase_text = "Avoid release to the environment. Refer to special instructions/safety data sheet" %}{% endif %}
{% if sphrase_code == "S62" %}{% assign sphrase_text = "If swallowed, do not induce vomiting: seek medical advice immediately and show this container or label where possible" %}{% endif %}
{% if sphrase_code == "S63" %}{% assign sphrase_text = "In case of accident by inhalation: remove casualty to fresh air and keep at rest" %}{% endif %}
{% if sphrase_code == "S64" %}{% assign sphrase_text = "If swallowed, rinse mouth with water (only if the person is conscious)" %}{% endif %}
{% if sphrase_code == "S1/2" %}{% assign sphrase_text = "Keep locked up and out of the reach of children" %}{% endif %}
{% if sphrase_code == "S3/7" %}{% assign sphrase_text = "Keep container tightly closed in a cool place" %}{% endif %}
{% if sphrase_code == "S3/7/9" %}{% assign sphrase_text = "Keep container tightly closed in a cool, well-ventilated place" %}{% endif %}
{% if sphrase_code == "S3/9/14" %}{% assign sphrase_text = "Keep in a cool, well-ventilated place away from ... (incompatible materials to be indicated by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S3/9/14/49" %}{% assign sphrase_text = "Keep only in the original container in a cool, well-ventilated place away from ... (incompatible materials to be indicated by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S3/9/49" %}{% assign sphrase_text = "Keep only in the original container in a cool, well-ventilated place" %}{% endif %}
{% if sphrase_code == "S3/14" %}{% assign sphrase_text = "Keep in a cool place away from ... (incompatible materials to be indicated by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S7/8" %}{% assign sphrase_text = "Keep container tightly closed and dry" %}{% endif %}
{% if sphrase_code == "S7/9" %}{% assign sphrase_text = "Keep container tightly closed and in a well-ventilated place" %}{% endif %}
{% if sphrase_code == "S7/47" %}{% assign sphrase_text = "Keep container tightly closed and at temperature not exceeding ... &deg;C (to be specified by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S8/10" %}{% assign sphrase_text = "Keep container wet, but keep the contents dry" %}{% endif %}
{% if sphrase_code == "S20/21" %}{% assign sphrase_text = "When using do not eat, drink or smoke" %}{% endif %}
{% if sphrase_code == "S24/25" %}{% assign sphrase_text = "Avoid contact with skin and eyes" %}{% endif %}
{% if sphrase_code == "S27/28" %}{% assign sphrase_text = "After contact with skin, take off immediately all contaminated clothing, and wash immediately with plenty of ... (to be specified by the manufacturer)" %}{% endif %}
{% if sphrase_code == "S29/35" %}{% assign sphrase_text = "Do not empty into drains; dispose of this material and its container in a safe way" %}{% endif %}
{% if sphrase_code == "S29/56" %}{% assign sphrase_text = "Do not empty into drains, dispose of this material and its container at hazardous or special waste collection point" %}{% endif %}
{% if sphrase_code == "S36/37" %}{% assign sphrase_text = "Wear suitable protective clothing and gloves" %}{% endif %}
{% if sphrase_code == "S36/37/39" %}{% assign sphrase_text = "Wear suitable protective clothing, gloves and eye/face protection" %}{% endif %}
{% if sphrase_code == "S36/39" %}{% assign sphrase_text = "Wear suitable protective clothing and eye/face protection" %}{% endif %}
{% if sphrase_code == "S37/39" %}{% assign sphrase_text = "Wear suitable gloves and eye/face protection" %}{% endif %}
{% if sphrase_code == "S38/2" %}{% assign sphrase_text = "In case of insufficient ventilation wear suitable respiratory equipment and stay away from children" %}{% endif %}
{% if sphrase_code == "S47/49" %}{% assign sphrase_text = "Keep only in the original container at temperature not exceeding ... &deg;C (to be specified by the manufacturer)" %}{% endif %}
{{ sphrase_text }}