{% include top.html %}
    <title>{{ page.category_name | capitalize }} - Categories - MEL Chemistry</title>

<style>
.img-flat-bottom {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

div.animated-by-hover div.animated-image {display: none}
div.animated-by-hover:hover div.animated-image {display: block}
div.animated-by-hover:hover div.static-image {display: none}

.square-container {
  position: relative;
  width: 100%;   /* desired width */
}
.square-container:before {
  content: "";
  display: block;
  padding-top: 56.25%;  /* initial ratio of 16:9*/
}
.square-content {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.experiment-description {
  margin-top: 12px;
}
.experiment-title {
  margin-top: 5px;
  font-weight: bold;
}
</style>
  </head>

  <body style="background-color: rgb(240,240,240)">
{% include top-navigation.html %}

    <div class="container">

<ol class="breadcrumb">
  <li><a href="/">Chemistry Experiments</a></li>
  <li class="active"><span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ page.category_name | capitalize }}</span></li>
  <span class="pull-right">
    <a href="https://github.com/MELScience/melscience.github.io/edit/master/categories/{{ page.name }}" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span> Edit</a>
    <a href="/edit/update_categories.html" class="btn btn-default btn-xs">How to Edit</a>
  </span>
</ol>
      <div class="row row-offcanvas row-offcanvas-right">

  <h1>{{ page.category_name | capitalize }}</h1>

{% for e in site.pages %}
{% if e.type == "experiment" %}
{% for ec in e.category %}
{% if ec == page.id %}
            <div class="col-4 col-sm-4 col-lg-3">
              <div class="panel panel-default">
                <div>
                  <div class="static-image square-container"><a class="square-content" href="../experiments/{{ e.id }}.html"><img src="{{ e.youtube_video_for_thumbnail | replace: 'http://www.youtube.com/watch?v=', 'http://i.ytimg.com/vi/' | append: '/mqdefault.jpg'}}" alt="Experiment thumbnail" style="width: 100%; height: auto;" class="img-rounded img-flat-bottom"></a></div>
                </div>
                <div class="panel-heading" style="background-color: white; height: 110px;">
                  <h3 class="panel-title experiment-title"><a href="../experiments/{{ e.id }}.html">{{ e.title_name }}</a></h3>
                  <h3 class="panel-title experiment-description"><a href="../experiments/{{ e.id }}.html">{{ e.descriptive_name }}</a></h3>
                </div>
              </div>
            </div><!--/span-->

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

  {{ content }}

      </div><!--/row-->

{% include bottom.html %}