{% include top.html %}
    <title>{{ page.title }} - MEL Science ChemGit</title>
  </head>

  <body style="background-color: rgb(240,240,240)">
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MEL Science ChemGit</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Experiments</a></li>
            <li><a href="/reagents">Reagents</a></li>
            <li class="active"><a href="/edit">Edit</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

  {{ content }}

      </div><!--/row-->

{% include bottom.html %}