{% include top.html %}
    <title>{{ page.title }} - Edit - MEL Chemistry</title>
  </head>

  <body style="background-color: rgb(240,240,240)">
{% include top-navigation.html %}

    <div class="container">

<ol class="breadcrumb">
  <li><a href="/">Chemistry Experiments</a></li>
  <li><a href="/edit/">Edit</a></li>
  <li class="active"><span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ page.title }}</span></li>
</ol>

      <div class="row row-offcanvas row-offcanvas-right">

<style>
h3 {margin-top: 70px;}
</style>

<h2>{{ page.title }}</h2>


  {{ content }}

      </div><!--/row-->

{% include bottom.html %}