{% include top.html %}
    <title>{{ page.reagent_name | capitalize }} ({{ page.formula | replace: '<sub>', '' | replace: '</sub>', '' }}) - Reagents - MEL Chemistry</title>
  </head>

  <body>
{% include top-navigation.html %}

    <div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/reagents/">Reagents</a></li>
  <li class="active"><span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ page.reagent_name | capitalize }} ({{ page.formula }})</span></li>
  <span class="pull-right">
    <a href="https://github.com/MELScience/melscience.github.io/edit/master/reagents/{{ page.name }}" class="btn btn-default btn-xs">Edit</a>
    <a href="/edit/update_reagent.html" class="btn btn-default btn-xs">How to Edit</a>
  </span>
</ol>

      <div class="row row-offcanvas row-offcanvas-right">


<h1>{{ page.reagent_name | capitalize }} ({{ page.formula }})</h1>

<p>
  <a href="{{ page.wikipedia }}">Wikipedia article about {{ page.reagent_name }}</a><br>
  Substance: {{ page.substance_name }}<br>
  {% if page.other_names | size > 0%}
  Also known as: 
  {% for another_name in page.other_names %}
    {{ another_name }}, 
  {% endfor %}
  {% endif %}
</p>

<h2>Hazard Information</h2>
{% if (page.ghs_hazard_pictograms | size) | append (page.ghs_hazard_statement | size) | append (if page.ghs_precautionary_statements | size) == "000" %}
<h3>{{ page.ghs_signal_word | upcase }}</h3>
<p>
{% for pictogram in page.ghs_hazard_pictograms %}
<img src="/images/ghspictorgams/{{ pictogram }}.png" style="width: 100px; height: 100px">
{% endfor %}
</p>

<h3>Hazard statements</h3>
{% if page.ghs_hazard_statement | size %}{% else %}
No hazard statements
{% endif %}
{% for hazard_statement_code in page.ghs_hazard_statement %}
<li>{{ hazard_statement_code }}: {% include hazardstatement.html %}</li>
{% endfor %}

<h3>Precautionary statements</h3>
{% if page.ghs_precautionary_statements | size %}{% else %}
No precautionary statements
{% endif %}
{% for precautionary_statement_code in page.ghs_precautionary_statements %}
<li>{{ precautionary_statement_code }}: {% include precautionarystatement.html %}</li>
{% endfor %}

{% else %}
This reagent is considered nonhazardous according to GHS classifications. Treat all reagents with caution.
{% endif %}

{% assign similar_reagents_str = "" %}
{% for reagent_page in site.pages %}
{% if reagent_page.type == "reagent" %}
{% if reagent_page.substance_name == page.substance_name %}
{% if reagent_page.id != page.id %}
{% assign similar_reagents_str = similar_reagents_str | append: ',' | append: reagent_page.id %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% assign similar_reagents_str = similar_reagents_str | remove_first: ',' %}
{% assign similar_reagents = similar_reagents_str | split: ',' %}
{% assign similar_reagents_size = similar_reagents | size %}

{% if similar_reagents_size > 0 %}
<h2>Similar reagents</h2>
{% for reagent_page in site.pages %}
{% if reagent_page.type == "reagent" %}
{% if reagent_page.substance_name == page.substance_name %}
{% if reagent_page.id != page.id %}
<li><a href="../reagents/{{ reagent_page.id }}.html">{{ reagent_page.reagent_name | capitalize}} ({{ reagent_page.formula }})</a></li>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

<h2>Download MSDS</h2>
<ul>
{% for msds_link in page.msds %}
  <li><a href="{{ msds_link }}">{{ msds_link }}</a></li>
{% endfor %}

</ul>

<h2>Experiments</h2>
{% for e in site.pages %}
{% if e.type == "experiment" %}
{% for er in e.reagents %}
{% if er == page.id %}
            <div class="col-4 col-sm-4 col-lg-3">
              <div class="panel panel-default">
                <div>
                  <div class="static-image square-container"><a class="square-content" href="../experiments/{{ e.id }}.html"><img src="{{ e.youtube_video_for_thumbnail | replace: 'http://www.youtube.com/watch?v=', 'http://i.ytimg.com/vi/' | append: '/mqdefault.jpg'}}" alt="Experiment thumbnail" style="width: 100%; height: auto;" class="img-rounded img-flat-bottom"></a></div>
                </div>
                <div class="panel-heading" style="background-color: white; height: 110px;">
                  <h3 class="panel-title experiment-title"><a href="../experiments/{{ e.id }}.html">{{ e.title_name }}</a></h3>
                  <h3 class="panel-title experiment-description"><a href="../experiments/{{ e.id }}.html">{{ e.descriptive_name }}</a></h3>
                </div>
              </div>
            </div><!--/span-->

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

{% assign any_experiment_with_similar_reagents = 0 %}
{% for e in site.pages %}
{% if e.type == "experiment" %}
{% for similar_reagent in similar_reagents %}
{% for er in e.reagents %}
{% if er == similar_reagent %}
{% assign any_experiment_with_similar_reagents = 1 %}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}

{% if any_experiment_with_similar_reagents == 1 %}
<br style="clear: both"/>
<h2>Experiments with similar reagents</h2>
{% for e in site.pages %}
{% if e.type == "experiment" %}
{% for similar_reagent in similar_reagents %}
{% for er in e.reagents %}
{% if er == similar_reagent %}
            <div class="col-4 col-sm-4 col-lg-3">
              <div class="panel panel-default">
                <div>
                  <div class="static-image square-container"><a class="square-content" href="../experiments/{{ e.id }}.html"><img src="{{ e.youtube_video_for_thumbnail | replace: 'http://www.youtube.com/watch?v=', 'http://i.ytimg.com/vi/' | append: '/mqdefault.jpg'}}" alt="Experiment thumbnail" style="width: 100%; height: auto;" class="img-rounded img-flat-bottom"></a></div>
                </div>
                <div class="panel-heading" style="background-color: white; height: 110px;">
                  <h3 class="panel-title experiment-title"><a href="../experiments/{{ e.id }}.html">{{ e.title_name }}</a></h3>
                  <h3 class="panel-title experiment-description"><a href="../experiments/{{ e.id }}.html">{{ e.descriptive_name }}</a></h3>
                </div>
              </div>
            </div><!--/span-->

{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

{{ content }}


      </div><!--/row-->

{% include bottom.html %}