{% include top.html %}
    <title>{{ page.reagent_name | capitalize }} ({{ page.formula }}) - Reagents - MEL Chemistry</title>
  </head>

  <body>
{% include top-navigation.html %}

    <div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/reagents/">Reagents</a></li>
  <li class="active"><span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ page.reagent_name | capitalize }} ({{ page.formula }})</span></li>
  <span class="pull-right">
    <a href="https://github.com/MELScience/melscience.github.io/edit/master/reagents/{{ page.name }}" class="btn btn-default btn-xs">Edit</a>
    <a href="/edit/update_reagent.html" class="btn btn-default btn-xs">How to Edit</a>
  </span>
</ol>

      <div class="row row-offcanvas row-offcanvas-right">


<h1>{{ page.reagent_name | capitalize }} ({{ page.formula }})</h1>

<p>
  <a href="{{ page.wikipedia }}">Wikipedia article about {{ page.reagent_name }}</a><br>
  Substance: {{ page.substance_name }}<br>
  Also known as: 
  {% for another_name in page.other_names %}
    {{ another_name }}, 
  {% endfor %}
</p>

<h2>Hazard Informmation</h2>
<h3>{{ page.ghs_signal_word | upcase }}</h3>
<p>
{% for pictogram in page.ghs_hazard_pictograms %}
<img src="/images/ghspictorgams/{{ pictogram }}.png" style="width: 100px; height: 100px">
{% endfor %}
</p>

<h3>Hazard statements</h3>
{% if page.ghs_hazard_statement | size %}{% else %}
No hazard statements
{% endif %}
{% for hazard_statement_code in page.ghs_hazard_statement %}
<li>{{ hazard_statement_code }}: {% include hazardstatement.html %}</li>
{% endfor %}

<h3>Precautionary statements</h3>
{% if page.ghs_precautionary_statements | size %}{% else %}
No precautionary statements
{% endif %}
{% for precautionary_statement_code in page.ghs_precautionary_statements %}
<li>{{ precautionary_statement_code }}: {% include precautionarystatement.html %}</li>
{% endfor %}

<h2>Download MSDS</h2>
<ul>
{% for msds_link in page.msds %}
  <li><a href="{{ msds_link }}">{{ msds_link }}</a></li>
{% endfor %}

</ul>

{{ content }}


      </div><!--/row-->

{% include bottom.html %}